<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/a4fffcb6-15b0-410d-a315-ac1dc5da54c2/resourceGroups/KennardHire/providers/Microsoft.ApiManagement/service/KennardHireGomokuApiMgt/apis/KennardHireGomokuApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/a4fffcb6-15b0-410d-a315-ac1dc5da54c2/resourcegroups/KennardHire/providers/Microsoft.Web/sites/KennardHireGomokuApi20210514185107</ResourceId>
    <ResourceGroup>KennardHire</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://kennardhiregomokuapi20210514185107.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://kennardhiregomokuapi20210514185107.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>2e4d35e0-b826-408d-899c-7acd1fa28969</ProjectGuid>
    <MSDeployServiceURL>waws-prod-ml1-015.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>KennardHireGomokuApi20210514185107</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$KennardHireGomokuApi20210514185107</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>